<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="POSAzureConns" providerName="System.Data.SqlClient" connectionString="Server=tcp:commasv.database.windows.net,1433;Initial Catalog=DBpos;Persist Security Info=False;User ID=sampleuser;Password=Trung1997;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>